body {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background: url('view-illuminated-neon-gaming-keyboard-setup-controller.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    color: white; 
    padding-top: 5px; 
}

nav {
    width: 100%; 
    padding: 25px; 
    background: #0e0f0f; 
    color: #fff; 
    text-align: center; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

nav a {
    color: #fff; 
    margin: 0 20px; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

nav a:hover {
    color: #1e90ff; 
}


nav a.active {
    font-weight: bold; 
    color: #1e90ff;    
    border-bottom: 2px solid #1e90ff; 
}

img {
    max-width: 100%; 
}

table {
    border-collapse: collapse; 
    width: 50%;
    margin: 20px auto;
    border: 2px solid white; 
    background: url('black-blue-gradient-photy.org.jpg') no-repeat center center; 
    background-size: cover; 
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 10px; 
    background-color: rgba(0, 0, 0, 0.5); 
}

td {
    text-align: center; 
    vertical-align: middle; 
}

h1, h2 {
    text-align: left; 
}

.content {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px; 
    margin: 20px; 
}


.content > * {
    margin-top: 5px; 
}

.background-image {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; 
    z-index: -1; 
}


.center-text {
    text-align: center; 
    margin-top: 50px; 
}

.background-cell {
    background-image: url('идгу.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: white; 
}